body{
	background-image: url(img/fundo.jpg);
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu{
  background-color: white;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  font-style: italic; 
}
